<div class="login-page">
  <app-nav-bar></app-nav-bar>
  <div class="login-container">
    <form (ngSubmit)="onSubmit()">
      <h2>Forgot Password</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="credentials.username" name="username" required>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" [(ngModel)]="credentials.newPassword" name="newPassword" required>
      </div>
      <button type="submit" class="btn primary-btn">Submit</button>
    </form>
  </div>
  
  <!-- Footer -->
  <footer>
    <div class="footer-links">
      <!-- You can add links here if needed -->
    </div>
    <p>&copy; 2024 Charles Schwab & Co., Inc, All rights reserved. Member SIPC. Unauthorized access is prohibited. Usage will be monitored. (0124-3J4J)</p>
  </footer>
</div>