html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}



/* Container for the login form */
.login-container {
  position: relative;
  z-index: 1; /* Ensure the form is above the background */
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); /* Slight transparency for the form */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #333;
}

/* Form input fields */
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-style: 'Graphik';
  margin-bottom: 5px;
  color: #666;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button.primary-btn {
  background-color: #007bff;
}

button.secondary-btn {
  background-color: #6c757d;
}

/* Navbar styling */
app-nav-bar {
  display: block;
  margin-bottom: 20px;
}

/* Footer styling */
footer {
  width: 100%;
  padding: 20px 0;
  background-color: #343147;
  text-align: center;
  color: white;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: relative;
  left: 0;
}

.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

footer p {
  font-size: 14px;
  margin: 0;
}
